
VCPlayer/
demo_tool/
cache
video-compare
*.zip
build/sdl
player/build
app/node_modules
app/dist
app/package-lock.json
build/player
build/sdl2
build/sdl2_ttf
build/sdl3_ttf
sdl
sdl_ttf
.vscode
build/video_compare
sdl
ffmpeg
sdl_ttf
