player/build
app/node_modules
app/dist
app/package-lock.json

build/*/obj
build/*/obj_win
build/__pycache__

.vscode
# sdl
# ffmpeg
# sdl_ttf
# video-compare

build/ffmpeg
build/sdl
build/sdl_ttf
build/freetype
build/video_compare
cache
build/player
PlayerX/build
PlayerXQt/__pycache__
PlayerX/__pycache__
PlayerX/dist
PlayerX-server/archive
PlayerX/release/latest.json
PlayerX/release/remote-url.json
PlayerX-server/testsrc
PlayerX-server/package-lock.json
PlayerX-server/tasks
